# Ignore Terraform state files
*.tfstate
*.tfstate.*

# Ignore any .terraform directories
**/.terraform/*

# Ignore .terraform directories
.terraform

# Ignore any file ending in ".tfstate.backup" or beginning with tfplan
*.tfstate.backup
tfplan*.backup

# Ignore .terraform subfolder in the current directory
/terraform.tfstate.d/

# Ignore CLI cache files
.terraform-cache

# Ignore lock files
*.lock

# Ignore .json files
*.json

# Ignore .hcl files
*.hcl

# Ignore all .json files
*.json